/* Fonts */
* {
    font-family: 'Arial', sans-serif;
}
h1 {
    font-weight: bold;
    font-size: 1.5rem; 
    color: #001149;
    line-height: 0.9; 
}
h2 {
    font-weight: bold;
    font-size: 1rem; 
    color: #001149;
    line-height: 0.9; 
}
p {
    font-size: 0.9rem;
    color: #7B7B7B;
}

/* Sections */
header {
    background-color: #0072CE;
    color: white;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
header img {
    width: 100px;
    height: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    color: #0072CE;
    padding: 10px;
    text-align: center;
}

/* Elements */
.container {
    flex-grow: 1;
    max-width: 1200px;
    margin: 5px auto;
    padding: 5px;
}

.page-header {
    text-align: center;
    margin: 10px 0;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #0072CE;
    border-radius: 5px;
    outline: none;
    color: #001149;
}
.search-button-white {
    background: #fff;
    border: 1px solid #0072CE;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 0.75rem;
    outline: none;
}

/* List Buttons */
.grid-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
}
.grid-list-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}
li {
    font-size: 0.9rem;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    list-style: none;
}
li a {
    text-decoration: none;
    color: #0072CE;
}
li a:hover {
    text-decoration: none;
}
li:hover {
    background-color: #E5E5E5;
}

/* Squares */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}
.grid-container > :first-child {
    grid-column: span 2 
}

.square {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
.square img {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
}
.square a {
    text-decoration: none;
    color: #0072CE;
}
.square a:hover {
    text-decoration: none;
}

.square:first-child {
    background-color: #0072CE;
    color: white;
}
.square:first-child p {
    color: white;
}
.square:first-child h1 {
    color: white;
}
.square:first-child img {
    max-width: 140px;
}

/* filter buttons */
nav{
    margin: auto;
    align-items: center;
    width: fit-content;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    background-color: #fff;
}
nav input{ display: none; }
nav label{
    font-size: 0.9rem;
    color: #0072CE;
    padding: 10px 16px;
    border: 1px solid #0072CE;
    cursor: pointer;
    transition: all 0.3s;
}
nav label:last-of-type{ border-right: 0; }
nav label:hover{
    background: #E5E5E5;
}
nav input:checked + label{
    color: #fff;
    background: #001149;
}